#holyday {
  @include gradient;
  overflow: hidden;
  padding: 0 20px;

  @include medium-tablet {
    padding: 0;
  }

  h1 {
    @include medium-tablet {
      font-size: 30px;
    }
  }

  .holyday__container {
    padding-bottom: 80px;
    @include medium-tablet {
      padding: 0 20px;
    }

    .holy {
      @include medium-tablet {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  
    .img-contebt {
      background-color: white;
      line-height: 0.8;
      padding: 25px 0 10px 15px;
      border-bottom: 1px solid $sea-green;
    }
  }

}